@define-color background @base00;
@define-color foreground @base07;

@define-color color9 @base04;
@define-color hover @base04;

@define-color charging #26A65B;
@define-color warning @base0A;
@define-color critical @base08;

window#waybar {
    all: unset;
}

.modules-left, .modules-center, .modules-right {
	margin: 10 10 0 10;
    border-radius: 10px;
	padding: 7px;
    background: alpha(@background, .6);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, .6);
}

.modules-center {
	padding: 7px 7px 7px 4px;
}

tooltip {
    background: @background;
    color: @foreground;
}

#clock:hover,
#custom-pacman:hover,
#custom-notification:hover,
#bluetooth:hover,
#network:hover,
#battery:hover,
#cpu:hover,
#memory:hover,
#temperature:hover {
    transition: all .3s ease;
    color: @hover;
}

#clock,
#custom-pacman,
#custom-notification,
#bluetooth,
#network,
#battery,
#cpu,
#memory,
#temperature {
    padding: 0px 5px;
    transition: all .3s ease;
    color: @foreground;
}

#workspaces {
    padding: 0px 5px;
}

#workspaces button {
    all: unset;
    padding: 0px 5px;
    border: none;
    transition: all .2s ease;
}


/* Not empty, not selected, not hovered */
#workspaces button {
    color: alpha(@color9, 0.4);
}

/* Empty, not selected, not hovered */
#workspaces button.empty {
    color: rgba(0, 0, 0, .2);
}

/* Not empty, selected, not hovered */
#workspaces button.active {
    color: @color9;
}

/* Not empty, not selected, hovered */
#workspaces button:hover {
    color: alpha(@color9, 0.8);
}

/* Empty, selected, not hovered */
#workspaces button.empty.active {
    color: @color9;
}

/* Empty, not selected, hovered */
#workspaces button.empty:hover {
    color: alpha(@color9, 0.3);
}

/* Not empty, selected, hovered */
#workspaces button.active:hover {
    color: @color9;
}

/* Empty, selected, hovered */
#workspaces button.empty.active:hover {
    color: alpha(@color9, 0.8);
}

#battery.charging {
    color: @charging;
}

#battery.warning:not(.charging) {
    color: @warning;
}

#battery.critical:not(.charging) {
    color: @critical;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#group-expand {
    padding: 0px 5px;
    transition: all .3s ease;
}

#custom-expand {
    padding: 0px 5px;
    color: alpha(@foreground, .2);
    text-shadow: 0px 0px 2px rgba(0, 0, 0, .7);
    transition: all .3s ease;
}

#custom-expand:hover {
    color: rgba(255, 255, 255, .2);
    text-shadow: 0px 0px 2px rgba(255, 255, 255, .5);
}

#custom-colorpicker {
    padding: 0px 5px;
}

#custom-endpoint {
    color: transparent;
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, 1);
}

#tray {
    padding: 0px 5px;
    transition: all .3s ease;
}

#tray menu * {
    padding: 0px 5px;
    transition: all .3s ease;
}

#tray menu separator {
    padding: 0px 5px;
    transition: all .3s ease;
}
