@define-color text @base05;
@define-color background @base00;
@define-color background-alt @base01;
@define-color selected @base0F;
@define-color hover alpha(@selected, .4);
@define-color normal @base07;
@define-color critical @base08;
@define-color highlight @base0D;

* {
	color: @text;
	all: unset;
	transition: 200ms;
}

.blank-window {
	background: transparent;
}

/* CONTROL CENTER */

.control-center {
	margin: 16px;
	border-radius: 6px;
	padding: 12px;
	background: alpha(@background, .55);
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.6);
}

trough {
	margin: 0 4px;
	border-radius: 100px;
	border: none;
	background: @background-alt;
	padding: 4px;
	min-height: 10px;
}

trough slider {
	margin: -8px;
	min-height: 16px;
	min-width: 16px;
	border-radius: 100px;
	background-color: @text;
}

trough slider:hover {
	background-color: @highlight;
}

trough slider:active {
	background-color: @text;
}

trough highlight {
	background-color: @text;
	border-radius: 100px 0 0 100px;
}


progressbar {
	background-color: rgba(255, 255, 255, .1);
}

/* WIDGETS */

/* Title widget and clear button */

.widget-title {
	margin: 6px;
}

.widget-title button {
	border-radius: 6px;
	padding: 4px 16px;
}

.widget-title button:hover {
	background-color: @hover;
}

.widget-title button:active {
	background-color: @selected;
}

/* Do Not Disturb (DND) */

.widget-dnd {
	margin: 6px;
	font-size: 1.2rem;
}

.widget-dnd>switch:hover {
	background: @hover;
}

.widget-dnd>switch:checked {
	background: @selected;
}

.widget-dnd>switch:checked:hover {
	background: @hover;
}

/* Buttons menu */

.widget-buttons-grid {
	padding: 6px 2px;
	margin: 6px;
	border-radius: 12px;
}

.widget-buttons-grid>flowbox {
	padding: unset;
}

.widget-buttons-grid>flowbox>flowboxchild>button {
	padding: 6px 12px;
	margin: 4px 10px;
	border-radius: 8px;
	background: transparent;
}

.widget-buttons-grid>flowbox>flowboxchild>button:hover {
	background: @hover;
}

/* Music player (Mpris) widget */

.widget-mpris {
	color: @text;
	padding: 4px;
}

.widget-mpris .widget-mpris-player {
	border-radius: 16px;
	border: none;
	padding: 8px;
	margin: 8px;
	background-color: @background;
}

.widget-mpris .widget-mpris-player button {
	border-radius: 4px;
	border: 1px solid transparent;
	color: alpha(@text, 0.8);
}

.widget-mpris .widget-mpris-player > box > button {
	border: 1px solid transparent;
	color: @text;
	background-color: transparent;
}

.widget-mpris .widget-mpris-player > box > button:hover {
	border: 1px solid @hightlight;
	background-color: @background-alt;
}

.widget-mpris .widget-mpris-player > box > button:disabled {
	color: alpha(@text, 0.2);
}

.widget-mpris-album-art {
	border-radius: 8px;
}

.widget-mpris-title {
	font-weight: 700;
	font-size: 1rem;
}

.widget-mpris-subtitle {
	font-weight: 500;
	font-size: 0.8rem;
}

/* Volume widget */

.widget-volume {
	background-color: @background;
	padding: 8px;
	margin: 8px;
	border-radius: 12px;
}

/* NOTIFICATIONS */

.notification-row {
	outline: none;
	margin: 0;
	padding: 0;
}

.notification-row .notification-background {
	/* Margin defines notification spacing */
	margin: 4px 0;
	padding: 4px;
	border-radius: 12px;
	border: none;
}

.floating-notifications.background .notification-row .notification-background {
	/* Margin defines notification spacing */
	margin: 8px;
	padding: 0;

	box-shadow: 0 0 8px 0 rgba(0, 0, 0, .6);
}

.notification-row .notification-background .notification {
	border: none;
	border-radius: 8px;
	padding: 8px;
	background: @background;
}

.floating-notifications.background .notification-row .notification-background .notification {
	padding: 16px;
	border: 2px solid transparent;
}

.floating-notifications.background .notification-row .notification-background .notification.normal {
	border: 2px solid @highlight;
}

.floating-notifications.background .notification-row .notification-background .notification.critical {
	border: 2px solid @critical;
}

.notification-row .notification-background .notification .notification-content {
	border: none;
	border-radius: 12px;
	background-color: transparent;
}

.notification-row .notification-background .notification>*:last-child>* {
	min-height: 3em;
	background: transparent;
}

.notification-row .notification-background .notification>*:last-child>* .notification-action {
	margin: 6px;
	border: 2px solid @background-alt;
	border-radius: 12px;
	color: @text;
	background-color: alpha(@background-alt, .6);
}

.notification-row .notification-background .notification>*:last-child>* .notification-action:hover {
	background-color: @hover;
}

.notification-row .notification-background .notification>*:last-child>* .notification-action:active {
	background-color: @selected;
}

.notification-group.collapsed .notification-row .notification {
	background: transparent;
	border: none;
	border-radius: 12px;
}


/* Notification expanded-group */
.notification-group {
	margin: 2px 8px 2px 8px;
}

.notification-group-headers {
	font-weight: bold;
	font-size: 1.25rem;
	color: @text;
	letter-spacing: 2px;
}

.notification-group-icon {
	color: @text;
}

.notification-group.collapsed:hover .notification-row:not(:only-child) .notification {
  background: @background-alt;
}

.notification-group-collapse-button,
.notification-group-close-all-button {
	color: @text;
	background: transparent;
	margin: 4px;
	border-radius: 6px;
	padding: 4px;
}

.notification-group-collapse-button:hover,
.notification-group-close-all-button:hover {
	background: @hover;
}

.close-button {
	background-color: transparent;
	border-radius: 6px;
	padding: 4px;
}

.close-button:hover {
	color: @text;
	background-color: @hover;
}

.image {
	margin: 10px 20px 10px 0px;
}

.summary {
	font-weight: 800;
	font-size: 1rem;
}

.body {
	font-size: 0.8rem;
}

.notification.critical progress {
	background-color: @selected;
}

.notification.low progress,
.notification.normal progress {
	background-color: @selected;
}
