@define-color text @base05;
@define-color background @base02;
@define-color background-alt @base03;
@define-color selected @base0F;
@define-color hover alpha(@selected, .4);
@define-color critical @base08;

* {
	color: @text;
	all: unset;
	transition: 200ms;
}

.blank-window {
	background: transparent;
}

.notification-row {
	outline: none;
	margin: 0;
	padding: 0;
}

/* CONTROL CENTER */

.control-center {
	background: alpha(@background, .55);
	border-radius: 24px;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.6);
	margin: 18px;
	padding: 12px;
}

/* Notifications */
.control-center .notification-row .notification-background,
.control-center .notification-row .notification-background .notification.critical {
	margin: 4px 0;
	padding: 4px;
	border-radius: 16px;
	border: none;
}

.control-center .notification-row .notification-background .notification.critical {
	color: @critical;
}

.notification {
	background: transparent;
}

.control-center .notification-row .notification-background .notification .notification-content {
	background: transparent;
	border: 1px solid transparent;
	border-radius: 12px;
	margin: 6px;
	padding: 8px 6px 2px 2px;
}

.control-center .notification-row .notification-background .notification>*:last-child>* {
	background: transparent;
	border-radius: 12px;
	min-height: 3.4em;
}

.control-center .notification-row .notification-background .notification>*:last-child>* .notification-action {
	color: @text;
	background-color: alpha(@selected, .6);
	border-radius: 12px;
	margin: 6px;
}

.notification-group.collapsed .notification-row .notification {
	background: transparent;
	border: none;
	border-radius: 12px;
}

.control-center .notification-row .notification-background .notification>*:last-child>* .notification-action:hover {
	background-color: @selected;
}

.control-center .notification-row .notification-background .notification>*:last-child>* .notification-action:active {
	background-color: @selected;
}

/* Buttons */
.close-button {
	background: transparent;
	border-radius: 6px;
	padding: 4px;
}

progressbar,
progress,
through {
	border-radius: 12px;
}

progressbar {
	background-color: rgba(255, 255, 255, .1);
}

/* Notification expanded-group */
.notification-group {
	margin: 2px 8px 2px 8px;
}

.notification-group-headers {
	font-weight: bold;
	font-size: 1.25rem;
	color: @text;
	letter-spacing: 2px;
}

.notification-group-icon {
	color: @text;
}

.notification-group-collapse-button,
.notification-group-close-all-button {
	background: transparent;
	color: @text;
	margin: 4px;
	border-radius: 6px;
	padding: 4px;
}

.notification-group-collapse-button:hover,
.notification-group-close-all-button:hover {
	background: @hover;
}

/* WIDGETS */

/* Title widget and clear button */

.widget-title {
	margin: 6px;
}

.widget-title button {
	border-radius: 6px;
	padding: 4px 16px;
}

.widget-title button:hover {
	background-color: @hover;
}

.widget-title button:active {
	background-color: @selected;
}

/* Do Not Disturb (DND) */

.widget-dnd {
	margin: 6px;
	font-size: 1.2rem;
}

.widget-dnd>switch:hover {
	background: @hover;
}

.widget-dnd>switch:checked {
	background: @selected;
}

.widget-dnd>switch:checked:hover {
	background: @hover;
}

/* Buttons menu */

.widget-buttons-grid {
	padding: 6px 2px;
	margin: 6px;
	border-radius: 12px;
}

.widget-buttons-grid>flowbox {
	padding: unset;
}

.widget-buttons-grid>flowbox>flowboxchild>button {
	padding: 6px 12px;
	margin: 4px 10px;
	border-radius: 8px;
	background: transparent;
}

.widget-buttons-grid>flowbox>flowboxchild>button:hover {
	background: @hover;
}

/* Music player (Mpris) widget */

.widget-mpris {
	background-color: @background-alt;
	color: @text;
	border-radius: 16px;
	margin: 20px 6px;
}

.widget-mpris-player {
	border-radius: 22px;
	padding: 6px 14px;
	margin: 6px;
}

.widget-mpris>box>button {
	color: @text;
	border-radius: 20px;
	border: none;
}

.widget-mpris>box>button:hover {
	border: none;
}

.widget-mpris button {
	color: alpha(@text, 0.6);
	border: none;
}

.widget-mpris button:hover {
	color: @text;
}

.widget-mpris-album-art {
	border-radius: 16px;
}

.widget-mpris-title {
	font-weight: 700;
	font-size: 1rem;
}

.widget-mpris-subtitle {
	font-weight: 500;
	font-size: 0.8rem;
}

/* Volume widget */

.widget-volume {
	background-color: @background-alt;
	padding: 8px;
	margin: 8px;
	border-radius: 12px;
}

/* FLOATING NOTIFIATIONS */

.notification-row {
	outline: none;
	margin: 0;
	padding: 0px;
}

.floating-notifications.background .notification-row .notification-background {
	box-shadow: 0 0 8px 0 rgba(0, 0, 0, .6);
	/* border: 1px solid @selected; */
	border-radius: 24px;
	margin: 16px;
	padding: 0;
}

.floating-notifications.background .notification-row .notification-background .notification {
	padding: 6px;
	border-radius: 12px;
}

.floating-notifications.background .notification-row .notification-background .notification.critical {
	border: 2px solid @critical;
}

.floating-notifications.background .notification-row .notification-background .notification .notification-content {
	margin: 14px;
}

.floating-notifications.background .notification-row .notification-background .notification>*:last-child>* {
	min-height: 3.4em;
}

.floating-notifications.background .notification-row .notification-background .notification>*:last-child>* .notification-action {
	border-radius: 8px;
	background-color: @background-alt;
	margin: 6px;
	border: 1px solid transparent;
}

.floating-notifications.background .notification-row .notification-background .notification>*:last-child>* .notification-action:hover {
	background-color: @hover;
	border: 1px solid @selected;
}

.floating-notifications.background .notification-row .notification-background .notification>*:last-child>* .notification-action:active {
	background-color: @selected;
	color: @background;
}

.image {
	margin: 10px 20px 10px 0px;
}

.summary {
	font-weight: 800;
	font-size: 1rem;
}

.body {
	font-size: 0.8rem;
}

.floating-notifications.background .notification-row .notification-background .close-button {
	margin: 6px;
	padding: 2px;
	border-radius: 6px;
	background-color: transparent;
	border: 1px solid transparent;
}

.notification.critical progress {
	background-color: @selected;
}

.notification.low progress,
.notification.normal progress {
	background-color: @selected;
}
